/* Default values */
:root {
    --primary-color: #96a06c;
    --primary-color-hover: #4a6842;
    --background: linear-gradient(135deg, #1f1f1f 0%, #2c2c2c 100%);
}

/* Hero Section */
.hero {
    margin-top: 4rem;
    margin-bottom: 4rem;
}
  
.hero h1 {
    font-size: 3rem;
    color: var(--primary-color);
}
  
.hero h2 {
    font-size: 1.2rem;
    color: #bbbbbb;
    font-weight: bold;
}
  
.hero p {
    font-size: 1.2rem;
    color: #bbbbbb;
    margin-bottom: 2rem;
}